---
permalink: /
---

<!DOCTYPE html>
<html lang="en" class="no-js">
	<!-- head -->
	{% include "head.njk" %}
	<!-- /head -->

	<body class="page">

	 <div class="lm-animated-bg"></div>
    
    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <!-- Scroll To Top Button -->
    <div class="lmpixels-scroll-to-top"><i class="lnr lnr-chevron-up"></i></div>
    <!-- /Scroll To Top Button -->

		<div class="page-scroll">
			<div
				id="page_container"
				class="page-container bg-move-effect"
				data-animation="transition-flip-in-right"
			>
				<!-- Header -->
        {% include "header.njk" %}
				<!-- /Header -->

				<div id="main" class="site-main">
					<div id="main-content" class="single-page-content">
						<div id="primary" class="content-area">
							<div
								id="content"
								class="page-content site-content single-post"
								role="main"
							>
								<!-- Home Page Top Part -->
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="home-content">
											<div class="row flex-v-align">
												<div class="col-sm-12 col-md-5 col-lg-5">
													<div class="home-photo">
                            <a href="https://www.linkedin.com/in/daniel-chiatuiro-6ba035190/" target="_blank">
														<div
															class="hp-inner"
															style="background-image: url(img/DSC05753.jpg)"
														></div>
                            </a>
													</div>
												</div>

												<div class="col-sm-12 col-md-7 col-lg-7">
													<div class="home-text hp-left">
														<div class="owl-carousel text-rotation">
															<div class="item">
																<h4>Cloud Operations</h4>
															</div>

															<div class="item">
																<h4>DevOps/SRE</h4>
															</div>
														</div>

														<h1>Daniel Chiatuiro</h1>
														<p>
															Hi, I’m <b>Daniel Chiatuiro</b>, a passionate Cloud Operations Engineer, with experience in cloud infrastructure, DevOps, and security.<br><hr>
                              With a background as a former backend engineer, I bring a deep understanding of both development and operations, allowing me to design and manage scalable cloud environments, automate deployments,
                              and ensure high availability across multi-cloud and hybrid setups.
														</p>

                            <p>
                               My expertise spans cloud platforms like AWS, Azure, and GCP, where I implement Infrastructure as Code (IaC), container orchestration, and CI/CD pipelines to optimize cloud operations. 
                              I’m always driven to find innovative solutions that enhance performance, security, and efficiency.
                            </p>

														<div class="home-buttons">
															<a
																href="img/Daniel CHIATUIRO.O.pdf"
																download="Daniel CHIATUIRO.O.pdf"
																class="btn btn-primary"
																>Download Resume</a
															>
															<a
																href="portfolio.html"
																class="btn btn-secondary"
																>Portfolio</a
															>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Home Page Top Part -->

								<!-- Services -->
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="p-50"></div>

										<div class="block-title">
											<h2>What I've Done</h2>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="info-list-w-icon">
											<div class="info-block-w-icon">

												<div class="ci-text">
													<h4>Cloud DevOps</h4>
													<p>
														Infrastructure Designs, Implementation, Deployments, Monitoring, Automations...
													</p>
												</div>
											</div>

											<div class="info-block-w-icon">
												<div class="ci-text">
													<h4>Cloud Security</h4>
													<p>
														Automating security tasks and conducting vulnerability assessments for secure cloud environments...
													</p>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-6">
										<div class="info-list-w-icon">
											<div class="info-block-w-icon">
												<div class="ci-text">
													<h4>Software Developer</h4>
													<p>
                            Mid backend engineer with experience on both frontend and backend with focus on LAMP and MERN Stack...
													</p>
												</div>
											</div>

											<div class="info-block-w-icon">
											

												<div class="ci-text">
													<h4>IT Support</h4>
													<p>
														Experienced IT Support person with certification on IT support by google.
                            I provided tier I support to the organization customers, performed technical documentations and much more.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Services -->

								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="p-20"></div>

										<!-- Testimonials -->
										<div class="block-title">
											<h2>Testimonials</h2>
										</div>

										<div
											id="testimonials_1"
											class="testimonials owl-carousel"
											data-mobile-items="1"
											data-tablet-items="2"
											data-items="2"
										>
											<!-- Testimonial 1 -->
											<div class="testimonial-item">
												<!-- Testimonial Content -->
												<div class="testimonial-content">
													<!-- Picture -->
													<div class="testimonial-picture">
														<img
															src="img/testimonials/2.png"
															alt="Billy Adams"
														/>
													</div>
													<!-- /Picture -->

													<!-- Testimonial Text -->
													<div class="testimonial-text">
														<p>
															Daniel is one developer who pays attention to details, ensuring pixel perfection on the frontend and proper database structuring on the backend. He's an excellent team player too. I loved working with him.
														</p>
													</div>
													<!-- /Testimonial Text -->

													<!-- Testimonial author information -->
													<div class="testimonial-author-info">
														<h5 class="testimonial-author">James Chimdindu</h5>
														<p class="testimonial-firm">I design and talk about SaaS user interfaces and experience</p>
													</div>
													<!-- /Testimonial author information -->

													
												</div>
												<!-- /Testimonial Content -->
											</div>
											<!-- End of Testimonial 1 -->

											<!-- Testimonial 2 -->
											<div class="testimonial-item">
												<!-- Testimonial Content -->
												<div class="testimonial-content">
													<!-- Picture -->
													<div class="testimonial-picture">
														<img
															src="img/testimonials/2.png"
															alt="Collins"
														/>
													</div>
													<!-- /Picture -->

													<!-- Testimonial Text -->
													<div class="testimonial-text">
														<p>
															Danni is a talent! always eager to learn, and get the job done.
                              I like his enthusiasm, He sure knows his stuff.
														</p>
													</div>
													<!-- /Testimonial Text -->

													<!-- Testimonial author information -->
													<div class="testimonial-author-info">
														<h5 class="testimonial-author">Collins</h5>
														<p class="testimonial-firm">Sterling Softwares</p>
													</div>
													<!-- /Testimonial author information -->

													<div class="testimonial-icon">
														<i class="fa fa-quote-left"></i>
													</div>

													<div class="testimonial-icon-big">
														<i class="fa fa-quote-right"></i>
													</div>
												</div>
												<!-- /Testimonial Content -->
											</div>
											<!-- End of Testimonial 2 -->

										</div>
										<!-- /Testimonials -->

										<div class="p-40"></div>

										<!-- Clients Slider -->
										<div class="block-title">
											<h2>Technologies</h2>
										</div>

										<div
											id="clients_1"
											class="clients owl-carousel"
											data-mobile-items="1"
											data-tablet-items="3"
											data-items="6"
										>
											<div class="client-block">
												<a href="#" title="AWS">
													<img src="img/clients/2.png" alt="AWS" />
												</a>
											</div>

											<div class="client-block">
												<a href="#" title="Azure">
													<img
														src="img/clients/3.png"
														alt="Microsoft Azure"
													/>
												</a>
											</div>

                      	<div class="client-block">
												<a href="#" title="GCP">
													<img
														src="img/clients/15.png"
														alt="Google Cloud Platform"
													/>
												</a>
											</div>

											<div class="client-block">
												<a href="#" title="Terraform">
													<img src="img/clients/5.png" alt="Terraform" />
												</a>
											</div>

                         <div class="client-block">
												<a href="#" title="Docker">
													<img
														src="img/clients/12.png"
														alt="Docker"
													/>
												</a>
											</div>

											<div class="client-block">
												<a href="#" title="Kubernetes">
													<img
														src="img/clients/13.png"
														alt="Kubernetes"
													/>
												</a>
											</div>   

											<div class="client-block">
												<a href="#" title="Python">
													<img src="img/clients/6.png" alt="Python" />
												</a>
											</div>
                      
                      <div class="client-block">
												<a href="#" title="Jenkins">
													<img src="img/clients/11.jpg" alt="Jenkins" />
												</a>
											</div>
                      
                      <div class="client-block">
												<a href="#" title="Ansible">
													<img src="img/clients/10.png" alt="Ansible" />
												</a>
											</div>
                                            
                      <div class="client-block">
												<a href="#" title="GitHub Actions">
													<img src="img/clients/14.png" alt="GitHub Actions" />
												</a>
											</div>
                      
                      <div class="client-block">
												<a href="#" title="Git">
													<img src="img/clients/7.png" alt="Git and GitHub" />
												</a>
											</div>

                      <div class="client-block">
												<a href="#" title="PHP">
													<img src="img/clients/9.png" alt="PHP" />
												</a>
											</div>
                      
                      <div class="client-block">
												<a href="#" title="node">
													<img src="img/clients/8.png" alt="Node JS" />
												</a>
											</div>
                      
                      <div class="client-block">
												<a href="#" title="Grafana">
													<img src="img/clients/1.png" alt="Grafana" />
												</a>
											</div>

                      <div class="client-block">
												<a href="#" title="DataDog">
													<img src="img/clients/4.png" alt="DataDog" />
												</a>
											</div>


										</div>
										<!-- /Clients Slider -->

										<div class="p-40"></div>
									</div>
								</div>

								<!-- Fun Facts -->
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="block-title">
											<h2>Fun Facts</h2>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-xs-12 col-sm-3">
										<div class="lm-info-block gray-default">
											<i class="linecons linecons-clock"></i>
											<h4>Coding Hours</h4>
											<span class="lm-info-block-value">5,000+</span>
											<span class="lm-info-block-text"></span>
										</div>
									</div>

									<div class="col-xs-12 col-sm-3">
										<div class="lm-info-block gray-default">
											<i class="linecons linecons-cup"></i>
											<h4>Coffee Consumed</h4>
											<span class="lm-info-block-value">1,000+</span>
											<span class="lm-info-block-text"></span>
										</div>
									</div>
								</div>
								<!-- /Fun Facts -->

								<div class="p-40"></div>
						
							</div>
						</div>
					</div>
				</div>

				<!-- Footer -->
        {% include "footer.njk" %}
				<!-- /Footer -->
			</div>
		</div>

		<!-- Scripts-->
    {% include "scripts.njk" %}
    <!-- /Scripts-->
	</body>

</html>
