---
permalink: /portfolio.html
---

<!DOCTYPE html>
<html lang="en" class="no-js">
	<!-- head -->
	{% include "head.njk" %}
	<!-- /head -->

  <body class="page">

    <div class="lm-animated-bg"></div>
    
    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <!-- Scroll To Top Button -->
    <div class="lmpixels-scroll-to-top"><i class="lnr lnr-chevron-up"></i></div>
    <!-- /Scroll To Top Button -->

    <div class="page-scroll">
      <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

       <!-- Header -->
        {% include "header.njk" %}
				<!-- /Header -->

        <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

              <div class="page-title">
                <h1>Portfolio</h1>
                <div class="page-subtitle">
                    <h4>Some Works</h4>
                </div>
              </div>

              <div id="content" class="page-content site-content single-post" role="main">

                <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <!-- Portfolio Content -->
                    <div id="portfolio_content_q" class="portfolio-content">

                      <ul class="portfolio-filters">                        
                        <li class="active">
                          <h6 class="filter" data-group="category_direct-url">Projects</h6>
                        </li>
                      </ul>

                      <div class="info-block-w-icon d-flex align-items-center">
                        <a href="https://github.com/danieldgtal?tab=repositories" target="_blank" class="d-flex align-items-center mr-4">
                          <img src="img/portfolio/github.jpg" alt="GitHub Avatar" >
                          <div class="ci-text">
                            <h4>GitHub</h4>
                            <p><b> danieldgtal</b></p>
                          </div>
                        </a>

                         <a href="https://www.linkedin.com/in/daniel-chiatuiro-6ba035190/" target="_blank" class="d-flex align-items-center">
                          <img src="img/portfolio/linkedin.png" alt="LinkedIn Avatar" >
                          <div class="ci-text">
                            <h4>LinkedIn</h4>
                            <p>
                              <b>Daniel Chiatuiro</b>
                            </p>
                          </div>
                        </a>
                      </div>
      
      
                      <!-- Portfolio Grid -->
                      <div class="portfolio-grid two-columns shuffle">

                        <!-- Portfolio Item 1 -->
                        <figure class="item direct" data-groups='["category_all", "category_direct-url"]'>
                          <div class="portfolio-item-img">
                            <img src="img/portfolio/1.png" alt="Direct URL" title="automation" />
                            <a target="_blank" href="https://github.com/danieldgtal/acs730-project/"></a>
                          </div>

                          <i class="fa fa-link"></i>
                          <h4 class="name">Education</h4>
                          <span class="category">Multi-tier Application</span>
                        </figure>
                        <!-- /Portfolio Item 1 -->

                         <!-- Portfolio Item 2 -->
                        <figure class="item direct" data-groups='["category_all", "category_direct-url"]'>
                          <div class="portfolio-item-img">
                            <img src="img/portfolio/3.png" alt="Direct URL" title="app service" />
                            <a target="_blank" href="https://github.com/danieldgtal/azure-cloud-30-day-projects/tree/main/01-azure-app-service-web-database-CI-CD"></a>
                          </div>

                          <i class="fa fa-link"></i>
                          <h4 class="name">Education</h4>
                          <span class="category">App Services</span>
                        </figure>
                        <!-- /Portfolio Item 2 -->

            
                        <!-- Portfolio Item 3 -->
                        <figure class="item lbimage" data-groups='["category_all", "category_image"]'>
                          <div class="portfolio-item-img">
                            <img src="img/portfolio/Project1_Topology.jpg" alt="Image 2" title="" />
                            <a class="lightbox" title="Virtual Networks" href="img/portfolio/Project1_Topology.jpg"></a>
                          </div>

                          <i class="fa fa-image"></i>
                          <h4 class="name">Diagramming</h4>
                          <span class="category">VNets</span>
                        </figure>
                        <!-- /Portfolio Item 3 -->

                        <!-- Portfolio Item 9 -->
                        <figure class="item lbimage" data-groups='["category_all", "category_image"]'>
                          <div class="portfolio-item-img">
                            <img src="img/portfolio/4.svg" alt="Image 1" title="" />
                            <a class="lightbox" title="Azure AKS" href="img/portfolio/4.svg"></a>
                          </div>

                          <i class="fa fa-image"></i>
                          <h4 class="name">Diagramming</h4>
                          <span class="category">Azure AKS</span>
                        </figure>
                        <!-- /Portfolio Item 9 -->
                      </div>
                      <!-- /Portfolio Content -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        <!-- Footer -->
        {% include "footer.njk" %}
				<!-- /Footer -->
        
      </div>
    </div>

    <!-- Scripts-->
    {% include "scripts.njk" %}
    <!-- /Scripts-->
</body>

</html>
