---
permalink: /resume.html
---

<!DOCTYPE html>
<html lang="en" class="no-js">
	<!-- head -->
	{% include "head.njk" %}
	<!-- /head -->

  <body class="page">
     
   <div class="lm-animated-bg"></div>
    
    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <!-- Scroll To Top Button -->
    <div class="lmpixels-scroll-to-top"><i class="lnr lnr-chevron-up"></i></div>
    <!-- /Scroll To Top Button -->

    <div class="page-scroll">
      <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

        <!-- Header -->
        {% include "header.njk" %}
				<!-- /Header -->
        
        <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

              <div id="content" class="page-content site-content single-post" role="main">
                <div class="row">
  
                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Education</h2>
                    </div>

                    <div id="timeline_1" class="timeline clearfix">
                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2025</h5>
                        <span class="item-company">Seneca College</span>
                        <h4 class="item-title">Cloud Architecture & Admininstration</h4>
                        <p>
                          Graduate Certificate Program with intensive skills development on securely integrating modern IT Infrastructure.
                          In Addition to essential leadership and management skills

                        </p>
                        
                      </div>

                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2021</h5>
                        <span class="item-company">Abia State University</span>
                        <h4 class="item-title">Computer Engineering</h4>
                        <p>
                          Bachelors degree in Computer Engineering which provided me a strong foundation in both hardware and software.
                          giving me the ability to work on various Industries 
                          cutting-edge technologies.
                        </p>
                          <br>
                          <br>
                          
                         <div class="home-buttons mt-3">
                          <p class="h5">
                            Download Daniel's Updated <br> Resume
                          </p>
                          <a
                            href="img/Daniel_C.pdf"
                            download="Daniel_C.pdf"
                            class="btn btn-primary"
                            >Download Resume</a
                          >
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Experience</h2>
                    </div>

                    <div id="timeline_2" class="timeline clearfix">
                      <div class="timeline-item clearfix">
                        <h5 class="item-period current">May 2024 - April 2025</h5>
                        <h4 class="item-title">Cloud DevOps</h4>
                        <p>
                          As a Cloud DevOps Engineer, trained and collaborated with team which we were responsible for deploying and managing scalable cloud
                          environments across AWS, Azure, and GCP. I automated infrastructure provisioning using both
                          cloud-native and agnostic tools, built CI/CD pipelines, and containerized applications with Docker and Kubernetes. 
                          Additionally, I performed monitoring, maintenance, and log management using a range of tools, including Prometheus, 
                          Grafana, AWS CloudWatch, Azure Monitor, and the ELK Stack (Elasticsearch, Logstash, Kibana).

                        </p>
                      </div>
                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">June 2020 - May 2024</h5>
                        <h4 class="item-title">Software Engineer</h4>
                        <p>
                          As a Software Engineer, I designed and developed web and mobile applications, integrating them
                          with databases. Designed monolithic and microservice architecture as based on project needs.
                          I provisioned and configured virtual private servers(VPS) using hosting services like DigitalOcean, Heroku,Lineode. 
                          Additionally, I implemented cross-platform designs for a seamless user experience. 
                          I also designed and documented APIs and was responsible for conducting security audits and applying patches.
                        </p>
                      </div>

                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2019 Jan- June 2019 June</h5>
                        <h4 class="item-title">IT Support Internship</h4>
                        <p>
                          As an IT Support Intern, I assisted business clients with account setups and actively
                          participated in documentating API projects. I also deployed CMS platforms using 
                          tools like wordpress and drupal. Additionally, I provided user support for the organization's
                          HR Management SaaS Solution, helping both new and existing clients.
                        </p>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-20"></div>

                    <div class="block-title">
                      <h2>Certification</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-6 ">
                    <a href="https://www.credly.com/badges/1f829437-740f-428f-b6f2-7d150c205ec1/linked_in_profile" target="_blank"> 
                      <div class="certificate-item clearfix">
                        <div class="certi-logo">
                          <img src="img/certificate/1.jpg" alt="logo">
                        </div>

                        <div class="certi-content">
                          <div class="certi-title">
                            <h4>HashiCorp Terraform Associate</h4>
                          </div>

                          <div class="certi-id">
                            <span>HCTAO - 003</span>
                          </div>
                          <div class="certi-date">
                            <span>Exp: 2026</span>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class=" col-xs-12 col-sm-6 ">
                    <a href="https://learn.microsoft.com/en-us/users/danielchiatuiro-4264/credentials/89b40d7e25172a42?ref=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank">
                      <div class="certificate-item clearfix">
                        <div class="certi-logo">
                          <img src="img/certificate/2.jpg" alt="logo">
                        </div>

                        <div class="certi-content">
                          <div class="certi-title">
                            <h4>Microsoft Azure</h4>
                          </div>

                          <div class="certi-id">
                            <span>AZ 104</span>
                          </div>

                          <div class="certi-date">
                            <span>Exp: 2025</span>
                          </div>

                          <div class="certi-company">
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-40"></div>
                  </div>
                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Cloud Skills</h2>
                    </div>

                    <div id="skills_1" class="skills-info skills-first-style">
                   
                      <!-- Skill 1 -->
                      <div class="clearfix">
                        <h4>IaC Automation & Config Management</h4>
                        <div class="skill-value">95%</div>
                      </div>

                      <div id="skill_1" data-value="95" class="skill-container">
                        <div class="skill-percentage" style="width: 95%;"></div>
                      </div>
                      <!-- /Skill 1 -->
                      
                      <!-- Skill 2 -->
                      <div class="clearfix">
                        <h4>Cloud Monitoring</h4>
                        <div class="skill-value">75%</div>
                      </div>
                      
                      <div id="skill_2" data-value="75" class="skill-container">
                        <div class="skill-percentage" style="width: 75%;"></div>
                      </div>
                      <!-- /Skill 2 -->

                      <!-- Skill 3 -->
                      <div class="clearfix">
                        <h4>Cloud Security</h4>
                        <div class="skill-value">70%</div>
                      </div>
                      <div id="skill_3" data-value="70" class="skill-container">
                        <div class="skill-percentage" style="width: 70%;"></div>
                      </div>
                      <!-- Skill 3 -->

                      <!-- Skill 4 -->
                      <div class="clearfix">
                        <h4>Linux Admininstration</h4>
                        <div class="skill-value">90%</div>
                      </div>
                      <div id="skill_4" data-value="90" class="skill-container">
                        <div class="skill-percentage" style="width: 90%;"></div>
                      </div>
                      <!-- /Skill 4 -->

                      <!-- Skill 5 -->
                      <div class="clearfix">
                        <h4>Containerization and Orchestration</h4>
                        <div class="skill-value">60%</div>
                      </div>
                      <div id="skill_4" data-value="60" class="skill-container">
                        <div class="skill-percentage" style="width: 60%;"></div>
                      </div>
                      <!-- /Skill 4 -->
                    </div>

                  </div>


                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Coding Skills</h2>
                    </div>


                    <div id="skills_2" class="skills-info skills-first-style">
                      <!-- Skill 5 -->
                      <div class="clearfix">
                        <h4>Python</h4>
                        <div class="skill-value">95%</div>
                      </div>
                      <div id="skill_5" data-value="99" class="skill-container">
                        <div class="skill-percentage" style="width: 95%;"></div>
                      </div>
                      <!-- /Skill 5 -->

                      <!-- Skill 6 -->
                      <div class="clearfix">
                        <h4>PHP</h4>
                        <div class="skill-value">99%</div>
                      </div>
                      <div id="skill_6" data-value="99" class="skill-container">
                        <div class="skill-percentage" style="width: 99%;"></div>
                      </div>
                      <!-- /Skill 6 -->

                      <!-- Skill 7 -->
                      <div class="clearfix">
                        <h4>.Net</h4>
                        <div class="skill-value">70%</div>
                      </div>
                      <div id="skill_7" data-value="70" class="skill-container">
                        <div class="skill-percentage" style="width: 70%;"></div>
                      </div>
                      <!-- /Skill 7 -->

                      <!-- Skill 8 -->
                      <div class="clearfix">
                        <h4>JavaScript</h4>
                        <div class="skill-value">85%</div>
                      </div>
                      <div id="skill_8" data-value="85" class="skill-container">
                        <div class="skill-percentage" style="width: 85%;"></div>
                      </div>
                      <!-- /Skill 8 -->

                       <!-- Skill 8 -->
                      <div class="clearfix">
                        <h4>PowerShell & Bash</h4>
                        <div class="skill-value">90%</div>
                      </div>
                      <div id="skill_8" data-value="90" class="skill-container">
                        <div class="skill-percentage" style="width: 90%;"></div>
                      </div>
                      <!-- /Skill 8 -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        {% include "footer.njk" %}
				<!-- /Footer -->
        
      </div>
    </div>

	  <!-- Scripts-->
    {% include "scripts.njk" %}
    <!-- /Scripts-->
</body>

</html>
