	<footer class="site-footer clearfix">
					<div class="footer-social">
						<ul class="footer-social-links">
							<li>
								<a href="https://www.linkedin.com/in/daniel-chiatuiro-6ba035190/" target="_blank">LinkedIn</a>
							</li>

							<li>
								<a href="#">Facebook</a>
							</li>

							<li>
								<a href="#">X(twitter)</a>
							</li>
						</ul>
					</div>

					<div class="footer-copyrights">
						<p>© 2024 All rights reserved.</p>
					</div>
				</footer>