<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Daniel Chiatuiro - Cloud Operations Engineer Portfolio</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
	  <meta name="description" content="Daniel Chiatuiro - Cloud Operations Engineer. Portfolio showcasing skills in cloud operations, DevOps, and IT infrastructure management." />
    <meta name="keywords" content="Daniel Chiatuiro, Cloud Operations Engineer, Cloud Computing, DevOps, IT Infrastructure, Portfolio, Resume" />
    <meta name="author" content="Daniel Chiatuiro" />
		<meta
			name="keywords"
			content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, portfolio"
		/>
		<meta name="author" content="lmpixels" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="/css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/owl.carousel.css" type="text/css" />
		<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
		<link rel="stylesheet" href="/css/main.css" type="text/css" />

		<script src="/js/modernizr.custom.js"></script>
	</head>